<mat-toolbar color="primary" class="w3-row">
        <div class="w3-col m1 left__div">
      <button mat-button (click)="sidenav.toggle()" ><mat-icon>menu</mat-icon></button>
    
        </div>
      <div class="w3-col m9 center__div">
          <img class="pulse"  src="../assets/weatherist_logo.png">      
          <span class="date__text ">    Weatherist</span>  
      </div>
      <!-- <button mat-button [matMenuTriggerFor]="appMenu"><mat-icon>settings</mat-icon></button> -->
      <!-- Toggle buton for theme -->
      <div class="mode-toggle__container w3-col m2 right__div">
          <span class="mode-toggle__text">Light</span>
          <label class="toggle-button__container">
              <mat-slide-toggle></mat-slide-toggle>
          </label>
          <span class="mode-toggle__text">Dark</span>
      </div>
    </mat-toolbar>
    <mat-progress-bar mode="indeterminate" *ngIf="isLoad" color="warn" ></mat-progress-bar>
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav class="example-sidenav" mode="over">
          <section class="menu-header">
              <span class="greeting__text">Welcome Back</span>
              <div class="profile-image__container">
                  <img src="https://avatars.githubusercontent.com/maverick6912" alt="profile-image"
                       class="profile__image">
              </div>
              <div class="account-details">
                  <span class="name__text">Umang Srivastava</span>
                  <span class="email__text">umang.srivastava.ckc@gmail.com</span>
              </div>
          </section>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="main__container">    
            <app-weather-card (loaderEvent)='isLoad=$event'></app-weather-card>    
            <app-add-weather-card></app-add-weather-card>          
        </div>
      </mat-sidenav-content>
    
      <!-- <mat-sidenav-content>
        <span>Hey!</span>
      </mat-sidenav-content> -->
    </mat-sidenav-container> 


